---
page_title: "Provider: Jira Cloud"
description: |-
  Terraform Provider for managing Jira Cloud.
---

# {{ .ProviderShortName | upper }} Provider

Working in Operations engineering organizations infrastructure is often driven by tickets. 
Why not track infrastructure using tickets but this time we will use code. 

## Example Usage

Set Jira Cloud instance URL, Username and API-Token using environment variables

```bash
export JIRA_URL=https://yourinstance.atlassian.net
export JIRA_USER=username@example.org
export JIRA_PASSWORD=<API-Key>
```

{{ tffile "examples/provider/provider.tf" }}


{{ .SchemaMarkdown | trimspace }}
